<div class="flex">
    <div class="relative">
      <button class="flex items-center p-2 border rounded-l-md" type="button" (click)="toggleDropdown()">
        {{ selectedCountry.flag }} {{ selectedCountry.dial_code }}
        <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
      <ul *ngIf="showDropdown" class="absolute z-10 mt-1 bg-white border rounded-md shadow-lg max-h-48 overflow-y-auto">
        <li>
          <input
            type="text"
            class="w-full p-2 border-b focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Search country"
            (input)="onSearchChange($event)"
            autocomplete="off"
          />
        </li>
        <li *ngFor="let country of filteredCountryCodes" (click)="selectCountry(country)" class="p-2 cursor-pointer hover:bg-gray-100">
          {{ country.flag }} {{ country.name }} ({{ country.dial_code }})
        </li>
      </ul>
    </div>
    <input
      type="text"
      class="flex-1 p-2 border rounded-r-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      placeholder="Phone number"
      [value]="phoneNumber"
      (input)="onPhoneNumberChange($event)"
      (blur)="onBlur()"
      autocomplete="new-phone"
      name="random-phone123"
    />
  </div>
  