<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
      <h2 class="text-2xl font-bold mb-6 text-center">Reset Password</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label for="password" class="block text-gray-700">New Password</label>
          <input type="password" id="password" formControlName="password" class="w-full p-2 border border-gray-300 rounded mt-1">
          <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="text-red-600 text-sm mt-1">
            Password must be at least 6 characters.
          </div>
        </div>
        <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded w-full">Reset Password</button>
      </form>
    </div>
  </div>
  