footer {
    color: #4a5568; /* Light color */
    background-color: #f7fafc; /* Light background color */
    border-top: 1px solid #e2e8f0; /* Light border color */
    text-align: center; /* Center the text */
    padding: 10px; /* Add some padding */
    position: relative;
  }
  